*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------- generali -------- */

.flex{
    display: flex;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

main{
    flex-wrap: wrap;
}
/* ------- generali -------- */



/* inizio header */

header .row{
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

header .logo{
    width: 15%;
    height: 50px;
    background-color: red;
}

header .upgrade{
    width: 200px;
    height: 50px;
    background-color: green;
}
/* fine header */


/* inizio aside */

aside .navbar{
    height: 100vh;
    width: 15%;
    float: left;
    background-color: #000;
}

.nav ul li{
    height: 30px;
    padding: 7px 0;
}

aside .nav.menu ul li{
    border: 1px solid #000;
    background-color: yellow;
}

aside .nav.playlist{
    margin-top: 10px;
}
aside .nav.playlist ul li{
    border: 1px solid #000;
    background-color: green;
}

aside .nav.playlist #special{
    height: 50px;
}

aside .profile{
    height: 70px;
    background-color: fuchsia;
}
/* fine aside */


/* inizio main */

.anima{
    width: 85%;
    height: 100vh;
    float: right;
    background-color: gray;
}

.anima .nav-main{
    height: 50px;
    width: 500px;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
    background-color: gold;
}

.anima .nav-main .nav-main-items{
    height: 40px;
    width: 25%;
    border: 1px solid #fff;
    background-color: red;
}

/* fine main */
