*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: #fff;      
}

.flex{
    display: flex;
}

/* ------- inizio header----- */
.row{
    width: calc(100% - 300px);
    height: 100px;
    position: fixed;
    justify-content: flex-end;
    z-index: 2;
    background-color: rgb(4, 4, 20);
}

.upgrade{
    align-self: center;
    border: 2px solid gray;
    border-radius: 40px; 
    margin-right: 20px;
}

.upgrade a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 20px;
}

/* -------fine header----- */


/* -------inizio aside----- */
.navbar{
    width: 300px;
    height: calc(100% - 100px);
    flex-direction: column;
    position: fixed;
    top: 0;
    background-color: #000;
}

/* inizio blocco logo */
aside .logo{
    height: 100px;
    width: 100%;
    padding-left: 15px;
    align-items: center;
}

aside .logo.small{
    display: none;
}

aside .logo img{
    object-fit: cover;
    width: 200px;
}
/* fine blocco logo */


/* inizio blocco home */
aside .home{
    flex-direction: column;
    margin-bottom: 10px;
    height: calc(100% - 100px);
    min-height: 500px;
}

aside .item{
    align-items: center;
    padding-left: 30px;
    margin: 15px 0px;
    font-size: 20px;
}

aside .home img, aside .profile img{
    align-items: center;
    width: 60px;
    opacity: 0.5;
    margin-right: 10px;
}

aside .user{
    background-color: rgb(109, 109, 114);
    border-radius: 50%;
    border: 1px solid #fff;
}

.xs{
    display: none;
}

aside .item a{
    color: rgb(143, 142, 142);
    font-size: 25px;
    text-decoration: none;
}

.title-list-song{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 20px;
}

.item #add-playlist i{
    background-color: rgb(207, 204, 204);
    color: #000;
    padding: 10px;
    margin-right: 10px;
}

aside .playlist{
    overflow-y: auto;
    flex-direction: column;
}

.image{
    position: relative;
    width: 100%;
    height: 100%;
}

.image i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 5px solid #fff;
    border-radius: 50%;
    padding: 20px;
}

/* fine blocco home */


/* inizio blocco profile */
aside .profile{
    flex-direction: column;
    background-color: #000;
}

aside .profile .install-app {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    width: 80%;
}

aside .profile i{
    margin-right: 10px;
}
/* fine blocco profile */

/* -------fine aside----- */



/* ---------inizio main --------*/

main {
    margin-bottom: 80px;
    height: 100%;
    width: calc(100% / 1 - 300px);
    align-items: center;
    flex-direction: column;
    background-color: rgb(27 27 42);
    float: right;
}

.list{
    width: 95%;
    margin-top: 20px;
    flex-direction: column;
}

main .generi{
    margin-top: 110px;
    flex-wrap: wrap;
}

main .generi .generi-items a{
    text-decoration: none;
    color: rgb(146, 141, 141);
    text-transform: uppercase;
    font-size: 22px;
    flex-wrap: wrap;
    padding: 0 10px
}

main .generi .generi-items{
    flex-direction: column;
    align-items: center;
}

main .generi-items .border{
    margin-top: 7px;
    height: 2px;
    width: 50%;
    background-color: green;
}

main .title{
   margin-bottom: 10px;
}

.p-title{
    margin: 8px 0;
    color: gray;
    font-size: 20px;
}

.list.create-for-you{
    padding: 50px 0;
} 

main .recently-played .card{
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
}

main .card-items{
    height: 100%;
    flex-basis: 16%;
    margin: 2px 5px;
    flex-direction: column;
    align-items: center;
}

main .card-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artisti-famous{
    padding-bottom: 50px;
}

.artisti-famous img{
    border-radius: 50%;
}
/* ---------fine main --------*/


/* ---------inizio footer------- */
.footer-row{
    width: 100%;
    height: 100px;
    background-color: rgb(27, 24, 24);
    justify-content: space-between;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    z-index: 9;
}

.nav-late{
    width: 20%;
    height: 100px;
    align-items: center;
}

.nav-late img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.nav-center{
    width: 50%;
    height: 100px;
    align-items: center;
}

.content-late{
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.content-late .text-footer{
    flex-direction: column;
    margin-left: 15px;
}

.text-footer .text-footer-items.titolo{
    font-size: 22px;
}

.text-footer .text-footer-items.brano{
    font-size: 18px;
    color: gray;
}

.content-late .preferiti{
    font-size: 17px;
}

.content-late a{
    color: #fff;
    margin: 0 15px;
}

.content-center{
    height: 50px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.content-center .content-button{
    justify-content: center;
    align-items: center;
}

.content-center .content-button a{
    color: #fff;
    margin: 0 20px;
    font-size: 25px;
}

.content-botttom{
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.none{
    display: none;
}

.bar-time{
    position: relative;
    height: 5px;
    width: 80%;
    background-color: rgb(87, 87, 87);
}

.timing{
    width: 20%;
    height: 100%;
    background-color: rgb(190, 184, 184);
    justify-content: flex-end;
    align-items: center;
}

.content-botttom .bar-time{
    position: relative;
    height: 5px;
    width: 80%;
    background-color: rgb(87, 87, 87);
}

.content-botttom .timing{
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: rgb(190, 184, 184);
    justify-content: flex-end;
    align-items: center;
    animation: progres 5s linear;
}

@keyframes progres {
    0%{
        width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 50%;
    }
    75%{
        width: 75%;
    }
    100%{
        width: 100%;
    }
}

.timing i{
    color: green;
    display: none;
}

.content-center .play, .content-late .hamburger{
    display: block;
    justify-content: flex-end;
}
 
.content-late .preferiti a{
    display: block;
}

/* ---------fine footer------- */


/* ------ hover ----- */

aside .item:hover a{
    color: #fff;
}

aside .navbar .home .item:hover{
    border-left: 5px solid green;
}

main .upgrade:hover{
    box-shadow: inset 5px 5px 5px #fff;
    transform: scale(1.1);
}

main .generi-items a:hover{
    color: #fff;
}

main .generi-items:hover .border{
    display: block;
}

main .card-items:hover{
   opacity: 0.3;
   cursor: pointer;
}

main .card-items:hover i{
    display: block;
}

.content-botttom:hover .timing{
    background-color: green;
    cursor: pointer;
}

.content-botttom:hover i{
    display: block;
}

.modifica-volume:hover .timing{
    background-color: green;
    cursor: pointer;
}

.content-late .bar-time:hover .timing i{
    cursor: pointer;
    display: block;
    background-color: green;
}
/* ------ hover ----- */




/* ------- spotify md -------- */
@media screen and (min-width: 768px) and (max-width: 992px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    main .card .card-items{
        height: 100%;
        flex-basis: 20%;
        margin: 2px 5px;
    }

    .title-list-song{
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 17px;
    }

    main .card .card-items img{
        height: 200px;
    }
    
    .generi-items{
        padding: 15px;
    }

    .content-late .preferiti .play{
        margin: 5px;
    }

    .content-late .preferiti{
        flex-direction: column;
        margin-left: 7px;
    }

    .content-center a, .content-late a, .content-late .bar-time{
        display: none;
    }

    .content-late .preferiti a, .content-late .s-lg{
        display: block;
    }

}

/* ------- spotify md -------- */



/* ------- spotify s -------- */
@media (min-width: 576px) and (max-width:767px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } 
    
    .upgrade a{
        font-size: 16px;
        padding: 10px 20px;
        text-align: center;
    }  
    
    main .generi .generi-items a{
        text-decoration: none;
        color: rgb(146, 141, 141);
        text-transform: uppercase;
        font-size: 16px;
        flex-wrap: wrap;
        padding: 0 10px
    }
    
    .title-list-song{
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 16px;
    }

    main .card .card-items{
        height: 100%;
        flex-basis: 45%;
        margin: 2px 5px;
    }
    
    .generi-items{
        padding: 10px 0;
    }

    .content-late .preferiti{
        flex-direction: column;
    }

    main .card .card-items{
        height: 100%;
        flex-basis: 45%;
        margin: 2px 5px;
        font-size: 12px;
    }

    .bar-time, .content-late img, .content-center span, .content-center a{
        display: none;
    }

    .content-center .play, .content-late .hamburger{
        display: block;
        justify-content: flex-end;
    }
 
    .content-late .play{
        display: block;
        margin-top: 7px;
    }
 
    .content-late .preferiti{
        flex-direction: column;
    }

}

/* ------- spotify s -------- */


/* ------- spotify xs -------- */
@media (max-width: 575px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    aside .logo{
        display: none;
    }

    aside .fondamentali{
        flex-direction: column;
        margin-top: 25px;
    }

    aside .fondamentali .xs{
      margin: 15px 0;
    }

    aside .logo.small{
        display: block;
        padding: 4px;
        height: calc(100% - 100px);
        min-height: 150px;
    }

    aside .logo img{
        width: 100%;
    }

    aside .item{
        align-items: center;
        justify-content: center;
        margin: 15px 0px;
    }    

    aside .profile{
       width: 100%;
       align-items: flex-end;
    }

    aside .profile img{
        width: 30px;
        margin: 0 10px;
    }

    aside img{
        width: 30px;
    }

    .upgrade a{
        font-size: 18px;
        padding: 4px 15px;
        text-align: center;
    }

    .row{
        width: calc(100% - 50px);
        height: 100px;
        position: fixed;
        justify-content: flex-end;
        background-color: rgb(4, 4, 20);
    }
    
    .generi-items{
        padding: 15px;
    }

    main .generi .generi-items a{
    text-decoration: none;
    color: rgb(146, 141, 141);
    text-transform: uppercase;
    font-size: 15px;
    flex-wrap: wrap;
    padding: 0 10px;
    }

    .xs{
        display: block;
        color: rgb(146, 141, 141);
    }

    .s-lg, h4{
        display: none;
    }

    .navbar{
        width: 50px;
        align-items: center;
    }

    main{
        width: calc(100% / 1 - 50px);
    }

    .title-list-song{
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 16px;
    }

    main .card .card-items{
        height: 100%;
        flex-basis: 45%;
        margin: 2px 5px;
        font-size: 12px;
    }

    main .card .card-items img{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    
    .content-late {
        flex-direction: column;
    }

    .nav-late{
        width: 20%;
        height: 100px;
        align-items: center;
    }

    .nav-center{
        width: 50%;
        height: 100px;
        align-items: center;
    }

    .bar-time, .content-late img, .content-center span, .content-center .s-lg, .content-late a{
        display: none;
    }

    .content-center .play, .content-late .hamburger{
       display: block;
       justify-content: flex-end;
   }

   .content-late .play{
       display: block;
       margin-top: 7px;
   }

}

/* ------- spotify xs -------- */
